@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.menu{
    display: flex;
    gap:80px;
    padding: 2% 0% 0% 8%;

}
.menu__itens{
    text-decoration: none;    
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: aqua;
}


.titulo{
    color:aqua;
}

.apresentacao{
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}
.apresentacao__conteudo{
width: 615px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;   
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    
}

.apresentacao__conteudo__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
}

.apresentacao__conteudo__links__titulo{
    font-size: 18px;
    font-family: 'Krona One', sans-serif;
    margin-bottom: 10px;
}
.apresentacao__conteudo__links__redes{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 2px solid aqua;
    border-radius: 8px;
    font-size: 24px;
    padding: 10px 0;
    width: 378px;
    font-family: 'Montserrat', sans-serif;
}   
.apresentacao__conteudo__links__redes:hover{
    background-color: #272727;
}


#img1 {
    width: 30%;
    height: auto;
    border: 3px solid aqua;
    border-radius: 16px;
}

#Insta {
    width: 10%;
    height: auto;
}

#Git
{
    width: 10%;
    height: auto;
}
.rodape{
    color: black;
    background-color: aqua;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: auto;
}